ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    padding: 0;
    margin: 0;

  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 14pt;

  }

  li a:hover {
    background-color: #0080FF;
  }

  body{
    background-image: url("../images/home-page.jpg");
    padding: 0;
    margin: 0;
	background-size: 1920px 1080px;
	 background-repeat: no-repeat;
  background-position:  top;
  background-attachment: scroll;
  background-clip:  initial;
  font-family: "Raleway", sans-serif;

 
  }


  
.point1{
	border:5px solid black;
	border-radius:40px;
	width:35%;
	margin-left:100px;
	float:left;
	text-align: justify;  
}


  
  .text{
	  
	  text-align: center;
	  width:50%;
	
	  font-size: 15pt;
	    margin-left: auto;
    margin-right: auto;
  }
  
  .canada{
	  padding:40px;
	  
	
  }
  
  .content{
	  margin-left:800px;
	   color:white;
	  
  }
  
  .text2{
	 text-align: justify;  
	 font-size: 15pt;
	 width:80%
  }
  
   .USA{
	  padding:40px;
	
   }
   
   .content2{
	   
	   color:white; 
   }
   
   .text3{
	  text-align: justify;  
	 font-size: 15pt; 
	 width:800px;
   }
   
   .footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height:100px;
  background-color: #333;
  color: white;
  text-align: center;
  }
	
.page{
	  background-color:#1A5276; 
}
	
<p style="font-size:15pt ;padding:30px; ">	